<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create room</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="background">
  <ul class="ul2">
  <li><a href="/home" target="_parent" rel="noreferrer noopener">Home</a></li>
  <li><a href="tel:9698650004">Contact</a></li>
  <li><a href="">Feedback</a></li>
</ul>
    <p class="createheading"><%= messages %> </p>
    <h1 class="createheading2">ENTER DETAILS OF ROOM </h1>

    <form action="/createroom" method="POST">
        <div class="input">
            <label for="roomno">ROOM NO.</label>
            <input id="roomno" name="roomno" type="number">
        </div>

        <div class="input">
            <label for="blockno" >BLOCK NO.</label>
            <input type="text" name="blockno" id="blockno">
        </div>
        <div class="input">
            <label for="capacity">CAPACITY OF ROOM</label>
            <input id="capacity" name="capacity" type="number">
        </div>
        <br><br><br><br><br><br><br><br><br>
        <button class="btn" class="input">CREATE ROOM</button>
    </form>
    <form action="/home" method="GET">
        <button class="btn" class="input">Go To Home Page</button>
    </form>
    <ul class="ul">
    <li style="float:right" class="li">© 2021 TRMS</li>
    <li class="li">THAPAR ROOM MANAGEMENT SYSTEM</li>
    </ul>

</body>
</html>
