<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create room</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <p class="createheading"><%= messages %> </p>
    <h1 class="createheading">ENTER DETAILS OF ROOM </h1>

    <form action="/createroom" method="POST">
        <div class="input">
            <label for="roomno">ROOM NO.</label>
            <input id="roomno" name="roomno" type="number">
        </div>

        <div class="input">
            <label for="blockno" >BLOCK NO.</label>
            <input type="text" name="blockno" id="blockno">
        </div>
        <div class="input">
            <label for="capacity">CAPACITY OF ROOM</label>
            <input id="capacity" name="capacity" type="number">
        </div>
        <button class="btn" class="input">CREATE ROOM</button>
    </form>
    <form action="/home" method="GET">
        <button class="btn" class="input">Go To Home Page</button>
    </form>
    <div class="bottom-container">
      <p class="copyright">© 2021 TRMS</p>
      <a class="go-home " href="/home" target="_parent" rel="noreferrer noopener">go to home page</a>
      <a class="footer-link1" href="tel:9698650004">Contact us</a>
      <a class="footer-link2" href="">Feedback</a>


      </div>
</body>
</html>
