<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete account </title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="background">
  <ul class="ul2">
  <li><a href="/home" target="_parent" rel="noreferrer noopener">Home</a></li>
  <li><a href="tel:9698650004">Contact</a></li>
  <li><a href="">Feedback</a></li>
</ul>
  <h1 class="createheading">DELETE ACCOUNT </h1>
    <form method="post" action="/deleteaccount">
        <label class="changelabel" for="account" >SELECT AN ACCOUNT TO DELETE</label>
        <select name="account" id="account">
            <% for(i=0;i<all.length;i++){ %>
            <option value="<%=all[i].loginid%>"><%=all[i].loginid%></option>
            <% } %>
        </select><br><br><br><br>
        <button class="btn" >DELETE ACCOUNT </button>
    </form>

              <ul class="ul">
              <li style="float:right" class="li">© 2021 TRMS</li>
              <li class="li">THAPAR ROOM MANAGEMENT SYSTEM</li>
              </ul>
</body>
</html>
