<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO ENTRY</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="background">

  <ul class="ul2">
  <li><a href="/home" target="_parent" rel="noreferrer noopener">Home</a></li>
  <li><a href="tel:9698650004">Contact</a></li>
  <li><a href="">Feedback</a></li>
</ul>
    <h1 class="notlogged"><%= messages %> </h1>
    <h2 class="notloggedheading">YOU ARE CURRENTLY NOT LOGGED INTO YOUR ACCOUNT . KINDLY LOGIN TO PROCEED FURTHER</h2>
    <form action="/login" method="GET">
        <button class="btn" class="input">LOGIN</button>
    </form>
    <ul class="ul">
    <li style="float:right" class="li">© 2021 TRMS</li>
    <li class="li">THAPAR ROOM MANAGEMENT SYSTEM</li>
    </ul>

</body>
</html>
