<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="background">
  <ul class="ul2">
  <li><a href="/home" target="_parent" rel="noreferrer noopener">Home</a></li>
  <li><a href="tel:9698650004">Contact</a></li>
  <li><a href="">Feedback</a></li>
</ul>

    <h1 class="createheading">CREATE A NEW ACCOUNT </h1>
    <h2><%= messages %> </h2>
    <form action="/register" method="POST">
        <div class="input2">
            <label for="user">USER TYPE:</label>
            <select name="usertype" id="user" required>
                <option value="admin">Admin</option>
                <option value="faculty">Faculty</option>
            </select>
        </div>
        <div class="input2">
            <label for="loginid">ENTER LOGIN ID:</label>
            <input type="text" name="loginid" id="loginid" placeholder="Login Id" required>
        </div>
        <div class="input2">
            <label for="password">ENTER PASSWORD:</label>
            <input type="password" name="password" id="password" placeholder="password"required>
        </div>
        <div class="input2">
            <label for="name">ENTER NAME:</label>
            <input type="text" name="name" id="name" placeholder="name"required>
        </div>
        <div class="input2">
            <label for="teacherid">ENTER TEACHER ID:</label>
            <input type="number" name="teacherid" id="teacherid" placeholder="Teacher ID" required>
        </div>
        <div class="input2">
            <label for="contact">ENTER CONTACT NO.:</label>
            <input type="number" name="contact" id="contact" placeholder="contact" required>
        </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <button class="btn">Sign Up</button>
    </form>
    <ul class="ul">
    <li style="float:right" class="li">© 2021 TRMS</li>
    <li class="li">THAPAR ROOM MANAGEMENT SYSTEM</li>
    </ul>

</body>


</html>
