body{
  background-image:url("../images/thapar15-01.png");
  background-size:cover;
  background-attachment: fixed;
  background-color: #865439;
  text-align: center;
  margin: 0;
  }
  .background{
    background-image:url("../images/thapar18-01.png");
    background-size:cover;
    background-attachment: fixed;
    background-color: #865439;
    text-align: center;
    margin: 0;
  }
h1{
  color:#290001;
  margin:0 auto 0 auto;
  font-size: 3rem;
}
h2{
  color:#290001;
}
h3{
    color:#290001;
}
p{
  color: #FCDEC0;
}
form
{ display: inline; }
.TRMS{
  padding-top: 1.5rem;
}
.top-container{

    position: relative;

}
.middle-container{
  background-color:#865439;

}
.bottom-container{
  background-color: #865439;
  padding-top:40px;
  padding-bottom: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;


}
/*bottom-container links and copyright placement*/
a{
  color: #FCDEC0;
}
.copyright{
  color:#FCDEC0;
  position: absolute;
  bottom:0.5rem;
  left:37rem;
  font-size: 10px
}
.footer-link1{
position: absolute;
top:1.5rem;
left:25rem;
}
.footer-link2{
  position: absolute;
  top: 1.5rem;
  left: 37rem;
}
.go-home{
  position: absolute;
  top: 1.5rem;
  right: 25rem;
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
color:#FCDEC0;
}
/*create room edits*/
.createheading{
  padding:1rem 2.6rem 0 2.6rem;
    font-size: 2.6rem;
    margin-top: 3rem;
}
.createheading2{
  padding:0 2.6rem 0 2.6rem;
    font-size: 2.6rem;
    margin-top: 1rem;
}

/*label { display: inline-block; width: 210px; text-align: right; }*/

label{
   color:#FCDEC0;
  display: inline-block;
   float: left;
    clear: left;
    margin-top: 1.5rem;
    width: 250px;
    text-align: left;
}
.changelabel{
  width: 20rem;
  margin-left: 400px;
}
input {
    margin-top: 1.5rem;
  display: inline-block;
  float: left;
}
select{
  margin-top: 1.5rem;
display: inline-block;
float: left;
}

/*label{
 color:#FCDEC0;
 margin-right: 2rem;

}
input{
  text
}*/

.input{
  margin-top: 2rem;
  text-align:left;
  margin-left: 28rem;

}
.input2{
  margin-top: 1.3rem;
  margin-left: 30rem;
}
/*notadmin*/
.notadminheading{
  font-size: 2.6rem;
  margin: 12.5rem;
}
/*BUTTON*/
button{
  margin-left:1.5rem;
  margin-top: 2rem;

}
.btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 3px #290001;
  -moz-box-shadow: 0 1px 3px #290001;
  box-shadow: 0 1px 3px #290001;
  font-family: Arial;
  color: #FCDEC0;
  font-size: 14px;
  background: #290001;
  padding: 10px 20px 10px 20px;
  border: solid #290001 2px;
  text-decoration: none;
}

.btn:hover {
  background: #865439;
  text-decoration: none;
}
option{
  color:#290001;
}
.bookblock{
  padding:3rem;
}
.notloggedheading{
  font-size: 2.6rem;
  margin: 7.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.notlogged{
  margin-top: 5rem;
}
.error{
  font-size: 2.6rem;
  margin-top: 8.5rem;
  margin-bottom: 2rem;
}
.home{
  text-align: left;
  margin-left: auto;
    margin-right: auto;
    width: 18em;
}
.viewallbookings{}
.showall{
margin-top: 3rem;
}
.info
{
  text-align: left;
  margin-left: auto;
    margin-right: auto;
    width: 30em;
}
.noroom{
  font-size: 2rem;
  margin-top: 2rem;
    color:#290001;
}








.ul2 {
  list-style-type: none;
  margin: 0;
  padding-bottom:0;
  overflow: hidden;
  background-color:#865439;
  position: fixed;
  top: 0;
  width: 100%;

  /*position: fixed;
  bottom: 0;
  width: 100%;*/
}

li {
  float: left;
}

li a {
  display: block;
  color: #FCDEC0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #290001;
}

.ul{
  list-style-type: none;
  margin: 0;
  padding-bottom:0;
  overflow: hidden;
  background-color:#865439;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.li{
  display: block;
  color: #FCDEC0;
  text-align: center;
    padding: 14px 16px;
margin-right: 5rem;
  text-decoration: none;
}
.bottom
{
  padding-bottom: 5rem;
}
.viewall{
  margin-top: 5rem;
  text-align: left;
  margin-left: 28rem;
}
.hell{
  margin-top:0;
  text-align:left;
  margin-left: 28rem;
}
.common
{
  margin-top: 0.5rem;
}
